<div class="container">
  <div class="jumbotron center">
<h1>Trivia</h1>
      <p>
        SeraCyFiniSki
      </p>
      <div><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %></div>
<br>
      <div><%= link_to "Log in now!", new_user_session_path, class: "btn btn-lg btn-primary" %></div>
        </div>
</div>