<body>
<h1>Edit Your Profile</h1>
<%=form_for(current_user) do |f| %>
    <div class="field">
    <%= f.label :display_name%><br>
    <%= f.text_field :display_name%>
    </div>
    <div class="actions">
       <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
<%end%>
</body>
